<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Generos:</strong>
    <%= movie.genres.each do |a| puts a.genre_name end if movie.movie_genres.count != 0  %>
  </p>

</div>
