<div id="<%= dom_id language %>">
  <p>
    <strong>Language code:</strong>
    <%= language.language_code %>
  </p>

  <p>
    <strong>Language name:</strong>
    <%= language.language_name %>
  </p>

</div>
