<h1>Editing production company</h1>

<%= render "form", production_company: @production_company %>

<br>

<div>
  <%= link_to "Show this production company", @production_company %> |
  <%= link_to "Back to production companies", production_companies_path %>
</div>
