<h1>Editing language role</h1>

<%= render "form", language_role: @language_role %>

<br>

<div>
  <%= link_to "Show this language role", @language_role %> |
  <%= link_to "Back to language roles", language_roles_path %>
</div>
