<h1>Editing movie genre</h1>

<%= render "form", movie_genre: @movie_genre %>

<br>

<div>
  <%= link_to "Show this movie genre", @movie_genre %> |
  <%= link_to "Back to movie genres", movie_genres_path %>
</div>
