<div id="<%= dom_id movie_language %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_language.movie_id %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= movie_language.language_id %>
  </p>

  <p>
    <strong>Language role:</strong>
    <%= movie_language.language_role_id %>
  </p>

</div>
