<div id="<%= dom_id movie_company %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_company.movie_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= movie_company.company_id %>
  </p>

</div>
