<div id="<%= dom_id production_country %>">
  <p>
    <strong>Movie:</strong>
    <%= production_country.movie_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= production_country.country_id %>
  </p>

</div>
