<h1>Editing movie crew</h1>

<%= render "form", movie_crew: @movie_crew %>

<br>

<div>
  <%= link_to "Show this movie crew", @movie_crew %> |
  <%= link_to "Back to movie crews", movie_crews_path %>
</div>
