<h1>Editing movie cast</h1>

<%= render "form", movie_cast: @movie_cast %>

<br>

<div>
  <%= link_to "Show this movie cast", @movie_cast %> |
  <%= link_to "Back to movie casts", movie_casts_path %>
</div>
