<div id="<%= dom_id country %>">
  <p>
    <strong>Country iso code:</strong>
    <%= country.country_iso_code %>
  </p>

  <p>
    <strong>Country name:</strong>
    <%= country.country_name %>
  </p>

</div>
