<div id="<%= dom_id movie_keyword %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_keyword.movie_id %>
  </p>

  <p>
    <strong>Keyword:</strong>
    <%= movie_keyword.keyword_id %>
  </p>

</div>
