<h1>Editing movie keyword</h1>

<%= render "form", movie_keyword: @movie_keyword %>

<br>

<div>
  <%= link_to "Show this movie keyword", @movie_keyword %> |
  <%= link_to "Back to movie keywords", movie_keywords_path %>
</div>
